<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="NumberOfThreads" value="1"/>
    <add key="TimerValue" value="30000"/>
    <add key="logExceptionPath" value="E:\DocumentArchival"/>
    <!--To set Trace log path. Do not use '/' or '\' at the end of the path-->
    <add key="logTracePath" value="E:\DocumentArchival"/>
    <!--To enable(True) or disable(False) Exception log.-->
    <add key="logExceptionIsEnabled" value="True"/>
    <!--To enable(True) or disable(False) Trace log.-->
    <add key="logTraceIsEnabled" value="True"/>
    <!-- Just a connection sting name which is configured in service-->
    <add key="DMSInfoSearch_ConnectionStringKey" value="SqlServerConnString"/>

    <add key="ArchivalPath" value="E:\Writers\DocumentArchival"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:95/Genservice/Service.svc/REST" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="GenService.IService" name="BasicHttpBinding_IService"/>
    </client>
  </system.serviceModel>
</configuration>
