<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!--<add key="DatabaseSystem" value="MySql" />-->
    <add key="DatabaseSystem" value="SqlServer" />
    <add key="UploadFolder" value="D:\MassUpload\Files\" />
    <!-- Logger settings-->
    <!-- Note : If logExceptionPath and logTracePath values are same application will create both logs (Exception and Trace) in single file. -->
    <!--To set Exception log path. Do not use '/' or '\' at the end of the path-->
    <add key="logExceptionPath" value="D:\DMS_Log" />
    <!--To set Trace log path. Do not use '/' or '\' at the end of the path-->
    <add key="logTracePath" value="D:\DMS_Log" />
    <!--To enable(True) or disable(False) Exception log.-->
    <add key="logExceptionIsEnabled" value="True" />
    <!--To enable(True) or disable(False) Trace log.-->
    <add key="logTraceIsEnabled" value="True" />
    <!--To add usename and password below Gokul;password|vijay;vijay.-->

  </appSettings>
  <connectionStrings>
    <add name="SqlServerConnString" connectionString="Data Source=172.16.1.11;Initial Catalog=Writer-DMS-Enhancement5-GDE;Persist Security Info=True;User ID=sa;Password=jaqm739sf$" />
      <!--<add name="SqlServerConnString" connectionString="Data Source=172.16.1.12;Port=3306;Database=writer-dms-enhancement4_dev;User ID=root;Password=password" />-->
    <!--<add name="SqlServerConnString" connectionString="Data Source=LBSBLRDEVSRV001;Initial Catalog=Writer-DMS-Enhancement4_Dev;Persist Security Info=True;User ID=sa;Password=jaqm739sf$" />-->

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />

    <httpRuntime maxRequestLength="2147483647" useFullyQualifiedRedirectUrl="true" executionTimeout="144000" />

  </system.web>


  <system.serviceModel>

    <services>
      <service name="GenService.Service">
        <endpoint address="REST" binding="basicHttpBinding" bindingConfiguration="BService" contract="GenService.IService">
        </endpoint>
      </service>

      <service name="GenService.FileUploadService">
        <endpoint address="REST" binding="basicHttpBinding" bindingConfiguration="BService" contract="GenService.IFileUploadService">
        </endpoint>
      </service>

    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
    <staticContent>
      <remove fileExtension=".svc" />
    </staticContent>
  </system.webServer>

</configuration>
