<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="DatabaseSystem" value="MySql" />-->
    <add key="DatabaseSystem" value="SQLSERVER"/>
    <add key="logTraceIsEnabled" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="DatabaseConnString" connectionString="Data Source=LBSBLRDEVSRV001;Initial Catalog=Writer-DMS-Enhancement5-GDE;Persist Security Info=True;User ID=sa;Password=jaqm739sf$"/>
    <!--<add name="DatabaseConnString" connectionString="Data Source=172.16.1.11;Port=3306;Database=writer-dms-enhancement4_dev;User ID=root;Password=password;" />-->
    <!--<add name="DatabaseConnString" connectionString="Data Source=172.16.1.11;Initial Catalog=Writer-DMS-Enhancement4_Dev;Persist Security Info=True;User ID=sa;Password=jaqm739sf$"/>-->
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="sharath.pa@lotex.co.in">
        <network host="smtpout.secureserver.net" port="25" userName="sharath.pa@lotex.co.in" password="lotex@123"/>
      </smtp>
    </mailSettings>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
