<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Just a connection sting name which is configured in service-->
    <add key="DMSInfoSearch_ConnectionStringKey" value="SqlServerConnString"/>

    <add key="NumberOfThreads" value="1"/>
    <add key="UploadFolder" value="D:\Writer\BulkUpload\"/>
    <add key="TempFolder" value="D:\Writer\TempWorkFolder\"/>
    <add key="UploadDrive" value="D:\"/>
    <add key="TimerValue" value="30000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55362/Service.svc/REST" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="GenService.IService" name="BasicHttpBinding_IService"/>
    </client>
  </system.serviceModel>
  <system.web>

    <!--<identity impersonate="true" userName="gokul.das" password="always@Goku" />-->
  </system.web>
</configuration>
